@tailwind base;

html {
	@apply bg-snow-drift-500 text-mine-shaft-500;
}

.figure {
	font-family: 'IBM Plex Mono', monospace;
	font-variant-caps: all-petite-caps; 
	@apply text-sm text-snow-drift-700; 
}

h1 {
	@apply text-4xl font-bold;
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	@apply text-mine-shaft-400;
}

@tailwind components;

a {
	@apply text-picton-blue-500 underline;
}

.rocket {
	animation: rocket 0.7s linear infinite both;
}

@keyframes rocket {
	0% {
		transform: translate(0);
		transform: rotate(0);
	}
	10% {
		transform: translate(-1px, -1px);
	}
	20% {
		transform: translate(1px, -1px);
	}
	30% {
		transform: translate(-1px, 1px);
	}
	40% {
		transform: translate(1px, 1px);
	}
	50% {
		transform: translate(-1px, -1px);
	}
	60% {
		transform: translate(1px, -1px);
	}
	70% {
		transform: translate(-1px, 1px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	90% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

@tailwind utilities;
